.home-page-btn {
  width: 448px;
  height: 52px;
  margin: 10px;
  color: #fff;
  background-color: dodgerblue;
  display:flex;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
  justify-content: center;
  font-family: 'Roboto Slab', serif;
  border-radius:10px;
  border-color:#2196F3;
}