button {
  width: 448px;
  height: 52px;
  margin: 10px;
  display:flex;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
  justify-content: center;
  font-family: 'Roboto Slab', serif;
  border-radius:10px;
  border: 2px solid dodgerblue;
  text-transform: capitalize;
}

.primary {
  color: #fff;
  background-color: dodgerblue;
}

.secondary {
  color: dodgerblue;
  background-color: white;
}
