.buttons-container {
  width: 50vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
  background-color: blue;
}

.image-container {
  width: 40vw;
  height: 60vh;
  border-color: aliceblue;
}

.col {
  display: flex;
  flex-direction: column;
}